# 默认忽略的文件
/shelf/
/.idea/workspace.xml
# 数据源本地存储已忽略文件
/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/

*.xml

*.txt

*.iml

/mxshop-api/tmp/
/mxshop_srvs/test/
/mxshop_srvs/tmp/
/mxshop_srvs/user_srv/tmp/nacos/log/nacos-sdk.log
/mxshop_srvs/goods_srv/model/main/main.go
/mxshop_srvs/user_srv/tmp/nacos/cache/config/user-srv@@dev@@79484f6d-181a-48d8-8070-3aaa28126c69
